@{
  ViewData["Title"] = "Success";
}

<h2>Success</h2>

<div>
  <h1>Success!!</h1>
  <p class="lead">Your Product has been added</p>
  <p>
    <a href="/Product/Create" class="btn btn-outline-primary btn-large">Create Another Product&raquo;</a>
  </p>
  <p>
    <a href="/Product/Index" class="btn btn-outline-info btn-large">All Products&raquo;</a>
  </p>
</div>

